footer {
  max-width: 100%;
  overflow-x: hidden;
}
footer {
  width: 100%;
  min-height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  background-color: var(--text_color);
  color: var(--bg_color);
  font-size: 1.2em;
}
#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  min-height: 10em;
}

.footer_information li,
.social_icons li {
  list-style: none;
}
.footer_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.page_info a,
.footer_info a {
  color: var(--bg_color);
  text-decoration: none;
}
.page_info a:hover,
.footer_information li:hover,
.footer_info:hover a {
  cursor: pointer;
  color: var(--secondary_color);
}
.footer_logo {
  width: 5em;
  height: 5em;
  margin-top: 0.5em;
}
.footer_information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.social_icons {
  width: 14em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.social_icons a {
  text-decoration: none;
  color: var(--bg_color);
}
.social_icons * {
  font-size: 1.2em;
}
.social_icons i:hover {
  cursor: pointer;
  font-size: 1.8em;
}
.social_icons #youtube:hover {
  color: rgb(255, 40, 40);
}
.social_icons #github:hover {
  color: rgb(0, 0, 0);
}
.social_icons #instagram:hover {
  color: #d62976;
}
.social_icons #facebook:hover {
  color: #316ff6;
}
.social_icons #tiktok:hover {
  color: rgb(0, 0, 0);
}
#copyright {
  color: var(--secondary_color);
  font-size: 0.8em;
}
@media screen and (max-width: 870px) and (min-width: 600px) {
  
  #footer {
    flex-wrap: wrap;
  }
  #footer > * {
    flex: 1, 1, 100%;
  }
}
@media screen and (max-width: 600px) and (min-width: 430px) {
  #footer {
    flex-wrap: wrap;
    padding: 1.5em 0em;
  }
  #footer > * {
    flex: 1, 1, 30em;
  }
}
@media screen and (max-width: 430px) {
  #footer {
    height: 25em;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0em;
  }
}
